---
---

@import "bootstrap";

img {
    border-radius:0%;
}

html, body {
  height: 100% !important;
}

body {
	padding-top: 70px;
	font-size: 16pt;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}

/* Top navigation bar */

p{
	text-align: justify;
}

p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}

p.title {
	text-align: left;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

#bio-photo{
	width: 256px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Team & Publications */
// #gridid img { margin: 0px 0px 0px 0px; }
#homeid img { margin: 0 0 0 0; border-radius:0%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 0px;
	padding-right: 15px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 0px;
	padding-right: 8px;
}

.btn {
	margin: 10px;
	background-color:white;
	background: white;
	box-shadow: 0px;
	border-width: 1px;
	border-color: black;
	border-radius: 0;
	color: black;
}

.btn:selected{
	margin: 10px;
	background-color:black;
	box-shadow: 0px;
	border-width: 1px;
	border-color: white;
	color: white;
}

.btn:hover{
	background-color:#2b2b2b;
	color: white;
	margin: 10px;
	border-bottom-width: 0;
}

/* Homepage */

.title{
	font-size: large;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 3px;
	margin:0;
}

.description{
	font-size: medium;
	padding-top: 1px;
	color: rgb(80, 80, 80);
	margin:0;
}

.detail{
	font-size: small;
	padding-top: 1px;
	color: rgb(100, 100, 100);
	margin:0;
}

.imgteam{

	margin-bottom: 5px;
	margin-top: 30px;
}

.imgpub {
	margin-top:8px;
	padding:0;
}

.row {
	margin:0;
	padding:0;
}

.filters{
	text-align:center;
	margin-bottom: 10px;
}

.filters > p{
	text-align: center
}

.panel {
  margin-bottom: 0;
  margin-top: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-footer{
	border-top: 1px solid #eee;
	background-color: #fff;
}

.project-people{
	list-style-type: none;
	padding-left: 0%;
}

.project-people-thumb{
	list-style-type: none;
	padding-left: 15px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top: 15px;
}

#wrap {
  min-height: 100%;
}

#main {
	padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.card {
	position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 0 16px 16px 16px;
}

.card-team-member{
	min-height: 315px;
}

.card-publication{
	min-height: 215px;
}

.card-publication-home{
	min-height: 310px;
	max-height: 310px;
}

.card-home{
	position: relative;
	transition: 0.3s;
	margin: 10px;
	box-shadow: none;
}

.card-home:hover {
	box-shadow: none;
}

.team-links {
	text-align: left;
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
	margin-right: 15px;
}

.publications > .card {
	padding: 15px;
}

.btn:focus {
	border-color: black;
	color: black;
	background-color: white;
}

.filterBtn{
	border-width: 0px;
}

.filterBtn:focus{
	outline: 0;
}
.filterBtn.selected{
	border-bottom-width: 1px;
}

#project-image {
	height: 200px;
}

.carousel-caption-text{
	color: #fff;
}

.carousel-caption{
	background-color: rgba(0,0,0,0.5);
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 45px;
	margin-left: 3px;
	margin-right: 3px;
}

.footer-nav-links{
  padding: 20px;
  font-size: smaller;
}

.img-proposal{
	width: 50vw; position: relative; display: block; margin-left: auto; margin-right: auto;
}

@media (min-width: 1024px ) {

	.team-carousel-image{
		width:auto;
		max-height: 600px;
		margin-left:auto;
		margin-right:auto;
	}

	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links{
		float: left;
	}

	#main {
		padding-left:0;
		padding-right:0;
	}

	#gridid {
		padding-right:0;
	}
	.navbar-default .navbar-nav > li > a{
		padding-right: 0px;
		padding-left: 0px;
	}
	.navbar-default .navbar-nav > li{
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-default .navbar-nav > li:last-child{
		padding-right: 0px;
		padding-left: 15px;
	}
	.navbar-brand{
		padding-left: 0px;
	}
	.card-project{
		min-height: 415px;
		max-height: 415px;
	}

	.card-publication-venue {
    position: absolute;
		bottom: 0;
		margin-bottom: 15px
	}

	.card-project-footer{
		display: contents;
    position: absolute;
		bottom: 0;
		margin-bottom: 15px;
	}

	.publication-imgage{
		max-width: 250px;
		overflow: hidden;
	}

	.project-people-thumb{
		position: absolute;
		bottom: 0;
		display: flex;
		margin-bottom: 20px;
		padding-left: 0px;
	}

	.row-thumb{
		display: flex; align-items: center;
	}

	.row-thumb-home{
		display: flex;
	}
}

@media (min-width: 769px ) and (max-width: 1023px ) {

	#project-image {
		height: 200px;
	}

	.card > .row > .col-md-3{
		width: 100%
	}

	.publications{
		display: flex;
		flex-wrap: wrap;
	}

	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-project{
		min-height: 415px;
		max-height: 415px;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}

}

@media (min-width: 500px ) and (max-width: 768px ) {

	.publications > .card {
		padding: 50px;
		margin: 35px;
	}

	#people-row{
		display:flex;
		flex-wrap: wrap;
	}

	#project-image {
		height: 175px;
	}

	.card-team-member{
		min-height: 300px;
		max-width: 170px;
	}

	.col-sm-3{
		margin-left: auto;
		margin-right: auto;
	}

	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-project{
		min-height: 415px;
		max-height: 415px;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}
	.carousel-caption{
		background-color: rgba(0,0,0,0.5);
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: 45px;
	}
}

@media (min-width: 400px ) and (max-width: 499px ) {

	.footer-nav-links{
		padding: 5px;
		font-size: smaller;
	}

	#people-row{
		display:flex;
		flex-wrap: wrap;
	}

	.card-team-member{
		min-height: 300px;
		max-width: 170px;
	}
	.col-sm-3{
		margin-left: auto;
		margin-right: auto;
	}
	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}
	.card-publication-home{
		min-height: 280px;
		max-height: 310px;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}
	.carousel-inner{
		overflow: visible;
	}
	.carousel-caption {
    margin-left: auto;
    margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 2px;
		bottom: -60px; //must be equals
		min-height: 60px;
	}
	.carousel-caption-text{
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 362px ) and (max-width: 399px ) {

	.footer-nav-links{
		padding: 5px;
		font-size: smaller;
	}

	#people-row{
		display:flex;
		flex-wrap: wrap;
	}

	.card-team-member{
		min-height: 320px;
		max-width: 150px;
	}
	.col-sm-3{
		margin-left: auto;
		margin-right: auto;
	}
	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}

	.carousel-inner{
		overflow: visible;
	}
	.carousel-caption {
    margin-left: auto;
    margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 2px;
		bottom: -60px; //must be equals
		min-height: 60px;
	}
	.carousel-caption-text{
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 361px ) and (max-width: 375px ) {
	.footer-nav-links{
		padding: 5px;
		font-size: smaller;
	}

	#people-row{
		display:flex;
		flex-wrap: wrap;
	}

	.card-team-member{
		min-height: 320px;
		max-width: 150px;
	}
	.col-sm-3{
		margin-left: auto;
		margin-right: auto;
	}
	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}

	.carousel-inner{
		overflow: visible;
	}
	.carousel-caption {
    margin-left: auto;
    margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 2px;
		bottom: -60px; //must be equals
		min-height: 60px;
	}
	.carousel-caption-text{
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 336px ) and (max-width: 360px ) {

	.footer-nav-links{
		padding: 5px;
		font-size: smaller;
	}

	#people-row{
		display:flex;
		flex-wrap: wrap;
	}

	.card-team-member{
		min-height: 295px;
		max-width: 145px;
	}
	.col-sm-3{
		margin-left: auto;
		margin-right: auto;
	}
	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}
	.carousel-inner{
		overflow: visible;
	}
	.carousel-caption {
    margin-left: auto;
    margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 2px;
		bottom: -60px; //must be equals
		min-height: 60px;
	}
	.carousel-caption-text{
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (max-width: 335px ) {

	.footer-nav-links{
		padding: 5px;
		font-size: smaller;
	}

	#people-row{
		display:flex;
		flex-wrap: wrap;
	}
	.navbar-brand{
		padding:0px;
		padding-top:15px;
		padding-left:8px;
	}
	.navbar-toggle{
		margin-right: 8px;
	}
	.card-team-member{
		min-height: 380px;
	}
	.col-sm-3{
		margin-left: auto;
		margin-right: auto;
	}
	.img-award{
		position: absolute;
		right: 0;
		top:0;
		height: 40px;
		width: 40px;
		z-index: 100;
	}

	.text-award{
		float: right;
		margin-top: 15px;
	}

	.pub-links-award{
		float: left;
		margin-top: 15px;
	}

	#bio-photo{
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	.col-sm-12,
	.col-sm-4{
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-md-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-3{
		padding-right: 0px;
	}
	.col-sm-9{
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 15px;
	}
	.project-people-thumb{
		padding-left: 0px;
		min-height: 20px;
	}
	.carousel-inner{
		overflow: visible;
	}
	.carousel-caption {
    margin-left: auto;
    margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 2px;
		bottom: -60px; //must be equals
		min-height: 60px;
	}
	.carousel-caption-text{
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 970px ) and (max-width: 1023px ) {
	.publications > .card{
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	.img-publication{
		min-height: 300px;
		max-height: 300px;
	}
	.card > .row {
		height: 100%;
	}
	.publications > .card > .row > .col-sm-12{
		margin-top: 10px;
	}

	.publications > .card > .row > .col-sm-12 > .description{
		min-height: 180px;
	}

	.publications > .card > .row > .col-sm-12 > .title{
		min-height: 55px;
	}
}

@media (min-width: 870px ) and (max-width: 969px ) {
	.publications > .card{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.img-publication{
		min-height: 250px;
		max-height: 250px;
	}
	.card > .row {
		height: 100%;
	}

	.publications > .card > .row > .col-sm-12 > .description{
		min-height: 180px;
	}

	.publications > .card > .row > .col-sm-12 > .title{
		min-height: 55px;
	}
}

@media (min-width: 770px ) and (max-width: 869px ) {
	.publications > .card{
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.img-publication{
		min-height: 200px;
		max-height: 200px;
	}
	.card > .row {
		height: 100%;
	}

	.publications > .card > .row > .col-sm-12 > .description{
		min-height: 200px;
	}

	.publications > .card > .row > .col-sm-12 > .title{
		min-height: 55px;
	}
}
