<div id="footer navbar-fixed-bottom" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row" style="text-align: center">
				<a class="footer-nav-links" href="{{ site.url }}{{ site.baseurl }}/">
				Research
				</a>
				<a class="footer-nav-links" href="{{ site.url }}{{ site.baseurl }}/team">
				Team
				</a>
				<a class="footer-nav-links" href="{{ site.url }}{{ site.baseurl }}/publications">
				Publications
				</a>
				<a class="footer-nav-links" href="https://twitter.com/TechPeopleLab" target="_blank">
				Twitter
				</a>
			</div>
		</div>
  </div>
  <div class="panel-footer" style="border-top: 0px;">
		<div class="container-fluid">
			<div class="row">
			<div class="col-sm-3" style="text-align: center;">
				<a href="https://www.lasige.di.fc.ul.pt/" target="_blank">
				<img alt="lasige logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/lasige.png" class="img-responsive" style="max-width: 60%; display: initial;" />
				</a>
			</div>
			<div class="col-sm-3" style="text-align: center;">
				<a href="https://ciencias.ulisboa.pt/" target="_blank">
				<img alt="faculty of science logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/ciencias.png" class="img-responsive" style="display: initial; max-width: 60%;" />
				</a>
			</div>
			<div class="col-sm-3" style="text-align: center;">
				<a href="https://www.ulisboa.pt/" target="_blank">
				<img  alt="university of lisbon logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/ulisboa.png" class="img-responsive" style="display: initial; max-width: 60%;" />
				</a>
			</div>
			<div class="col-sm-3" style="text-align: center;">
				<a href="https://www.fct.pt/" target="_blank">
				<img alt="fct logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/fct.png" class="img-responsive" style="display: initial; max-width: 60%;" />
				</a>
			</div>
			</div>
		</div>
  </div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script> -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url}}"></script>
<script src="{{ "/js/bootstrap-accessibility.min.js" | prepend: site.baseurl | prepend: site.url}}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{{ site.url }}{{ site.baseurl }}/js/functions.js"></script>