<div class="wrapper-footer">
<div class="container-fluid">
	<footer class="footer">
	<div class="col-sm-3">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logos/lasige.png" class="img-responsive" style="float: left" />			
	</div>
	<div class="col-sm-3">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logos/ciencias.png" class="img-responsive" style="float: left" />			
	</div>
	<div class="col-sm-3">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logos/ulisboa.png" class="img-responsive" style="float: left" />			
	</div>
	<div class="col-sm-3">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logos/fct.png" class="img-responsive" style="float: left" />			
	</div>
	</footer>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/functions.js"></script>