<div id="{{ game.title | downcase | replace: " ", ""}}" class="card">

<div class="row row-thumb" style="margin-bottom: 0; ">
<div class="col-md-3" style="padding-left: 0;">

<img src="{{ site.url }}{{ site.baseurl }}/images/games/{{ game.image.name }}" alt="{{game.image.alt-text}}" class="img-publication img-responsive imgpub" style="margin:auto; padding-right:10px; max-height:250px; vertical-align: middle;" />

</div>

<div class="col-sm-12">

<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ include.g.title }}</p>

<p class="description" style="margin-bottom: 10px;">{{ include.g.description }}</p>

<p class="detail">
<strong>Date: </strong>{{ include.g.year }}<br>
<strong>Platform: </strong>{{ include.g.platform }}<br>
<strong>Devices: </strong>{{ include.g.devices }}<br>
<strong>Language: </strong>{{ include.g.language }}<br>
<strong>Players: </strong>{{ include.g.players }}<br>
<strong>Accessibility: </strong>{{ include.g.accessibility }}<br>
</p>

<div class="detail pub-links">

<ul class="pub-links-list">

{% for link in include.g.links %}
<li><a href="{{link.url}}" target="_blank">{{link.name}}</a></li>
{% endfor %}

</ul>
</div>
</div>
</div>

</div>

