<div class="js-carrousel relative pb1">
  <div class="js-carrousel__container  mod--hidden mb1"
   data-carrousel-btn-previous-img="{{ site.url }}{{ site.baseurl }}/images/left.svg"
   data-carrousel-btn-next-img="{{ site.url }}{{ site.baseurl }}/images/right.svg"
          data-carrousel-btn-previous-text="See previous content"
          data-carrousel-btn-next-text="See next content"
          data-carrousel-prefix-class="news"
          data-carrousel-transition="slide"
          data-carrousel-existing-hx="h3"
          data-carrousel-active-slide="1">
  </div>
</div>
<br>

<script>
let count = 0;
</script>
{% for publication in site.publications reversed %}
{% if publication.projects %}
{% assign currentItem = publication.projects | where: "", include.code %}
{% if currentItem contains include.code %}
<script>
// $(".carousel-indicators").append('<li data-target="#myCarousel" data-slide-to="'+ (count++) +'"></li>');
$(".js-carrousel__container").append('<div class="js-carrousel__content"><img style="width:auto; max-height: 400px; margin-left:auto; margin-right:auto;" class="img-responsive imgpub" src="{{ site.url }}{{ site.baseurl }}/images/publications/{{publication.image.name}}" alt="{{publication.image.alt-text}}"></div>')
// $(".carousel-indicators > li:first").addClass("active");
// $(".carousel-inner > div:first").addClass("active");
</script>
{% endif %}
{% else %}
{% endif %}
{% endfor %}

<script>
  if(count === 0){
    // $('#myCarousel').css({display: 'none'});
    $('#myCarousel').empty().append('<img style="width:auto; max-height: 400px; margin-left:auto; margin-right:auto;" class="img-responsive imgpub" src="{{ site.url }}{{ site.baseurl }}/images/projects/{{page.image.name}}" alt="{{page.image.alt-text}}"/>');
  }
</script>
