<div class="card" style="padding-top: 5px;">
<div class="row row-thumb" >
<div class="col-md-3" >
{% if include.prp.image %}
<img src="{{ site.url }}{{ site.baseurl }}/images/proposals/{{ include.prp.image.name }}" alt="{{include.prp.image.alt-text}}" class="img-publication img-responsive imgpub" style="margin:auto; min-width: 200px; vertical-align: middle;" />
{% else %}
<img src="{{ site.url }}{{ site.baseurl }}/images/publications/publication.png" alt="generic image of a publication" class="img-publication img-responsive imgpub" style="margin:auto; min-width: 200px; vertical-align: middle;" />
{% endif %}
</div>
<div class="col-sm-12">
{{ include.prp.title }}
<p class="title" >Motivation</p>
<p class="description" style="margin-bottom: 10px;">{{ include.prp.motivation }}</p>
<p class="title" >What you will do</p>
<p class="description" style="margin-bottom: 10px;">{{ include.prp.work }}</p>
{% if include.prp.external-links %}
{% for link in include.prp.external-links %}
{% if link.name contains 'mail' %}
[<a href="mailto:{{link.url}}" target="_blank">{{link.name}}</a>]
{% else %}
[<a href="{{link.url}}" target="_blank">{{link.name}}</a>]
{%endif%}
{% endfor %}
{% endif %}
</div>
</div>
</div>
