<div class="card-home card {{ publication.area }} year-{{ include.pub.year }}" style="padding: 0px 0px 0px 10px;">
<div class="row row-thumb-home" style="margin-bottom: 0; ">
<div class="col-sm-12">
{% if include.pub.pdf %}
<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"><a href="{{ publication.pdf }}" target="_blank">{{ include.pub.title }}</a></p>
{% else %}
<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ include.pub.title }}</p>
{% endif %}
<p class="detail">{{ include.pub.authors }}</p>
<p class="detail"><strong>{{ include.pub.conference-name }}</strong>&nbsp;<strong>{{ include.pub.year }}</strong>&nbsp;&#8209;&nbsp;{{ include.pub.venue }}</p>
<div class="detail pub-links">
<ul class="pub-links-list">
{% if include.pub.pdf %}
<li><a href="{{ publication.pdf }}" target="_blank">PDF</a></li>
{% endif %}
{% if include.pub.external-links %}
{% for link in include.pub.external-links %}
{% if link.name contains 'mail' %}
<li><a href="mailto:{{link.url}}" target="_blank">{{link.name}}</a></li>
{% else %}
<li><a href="{{link.url}}" target="_blank">{{link.name}}</a></li>
{%endif%}
{% endfor %}
{% if publication.award %}
<li>&#127941; {{ publication.award }}</li>
{% endif %}
{% endif %}
</ul>
</div>
</div>
</div>
</div>
