---
layout: default
---

<div class="row">
<div class="col-md-4">
<div class="row">
<img id="bio-photo" alt="Profile photo of {{page.title}}" src="{{ site.url }}{{ site.baseurl }}/images/people/{{ page.photo }}" class="img-responsive imgteam" />
</div>
<div class="row" style="overflow: hidden;">
{% for link in page.links %}
{% if link.name == 'email' %}
<a style="margin: auto; display: block; text-align: center;" href="mailto:{{link.url}}" target="_blank">{{link.url}}</a>
{% else %}
<!-- <a style="margin: auto; display: block; text-align: left;" href="{{link.url}}" target="_blank">{{link.name}}</a> -->
{%endif%}
{% endfor %}
</div>
</div>
<div class="col-md-8">
<h1>{{page.title}}</h1>
<h3>{{page.info}}</h3>
{{ content }}
</div>
</div>
<div id="publications-row" class="row" style="margin-top:32px;">
<h3 class='timeline-Header-title publications' style="padding-left: 10px; padding-bottom: 20px;">Publications</h3>
<div class="publications">
<script>
let pubCount = 0;
</script>
{% assign my_array = page.id | split: "/" %}
{% assign my_code = my_array.last %}
{% assign reversed_pubs = site.publications | reverse %}
{% assign count = 0 %}
{% for publication in reversed_pubs %}
{% assign currentItem = publication.people | where: "", my_code %}
{% if currentItem contains my_code %}
{% assign count = count | plus: 1 %}
<script>
pubCount++;
</script>
{% if count > 5 %}
<div class="hide-me card-home card {{ publication.area }} year-{{ publication.year }}" style="padding: 0px 0px 0px 10px; display: none;">
{% else %}
<div class="card-home card {{ publication.area }} year-{{ publication.year }}" style="padding: 0px 0px 0px 10px;">
{% endif %}
<div class="row row-thumb-home" style="margin-bottom: 0; ">
<div class="col-sm-12">
{% if publication.pdf %}
<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"><a href="{{ publication.pdf }}" target="_blank">{{ publication.title }}</a></p>
{% else %}
<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ publication.title }}</p>
{% endif %}
<p class="detail">{{ publication.authors }}</p>
<p class="detail"><strong>{{ publication.conference-name }}</strong>&nbsp;<strong>{{ publication.year }}</strong>&nbsp;&#8209;&nbsp;{{ publication.venue }}</p>
<p class="detail pub-links">
{% if publication.pdf %}
[<a href="{{ publication.pdf }}" target="_blank">PDF</a>]
{% endif %}
{% if publication.external-links %}
{% for link in publication.external-links %}
{% if link.name contains 'mail' %}
[<a href="mailto:{{link.url}}" target="_blank">{{link.name}}</a>]
{% else %}
[<a href="{{link.url}}" target="_blank">{{link.name}}</a>]
{%endif%}
{% endfor %}
{% if publication.award %}
 &#127941; {{ publication.award }}
{% endif %}
{% endif %}
</p>
</div>
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
<div id="seemore" style="text-align: right; margin-top: 25px; margin-right: 15px;">
<a id="pub-see-more" style="cursor: pointer;">see more...</a>
</div>
<script>
if(pubCount === 0){
$('#publications-row').css({display: 'none'});
}
if(pubCount <= 5){
$('#seemore').css({display: 'none'});
}
</script>
<div id="projects-row" class="row">
<h3 class='timeline-Header-title publications' style="padding-left: 10px; padding-bottom: 20px;">Projects</h3>
<div class="projects">
<script>
let count = 0;
</script>
{% assign my_array = page.id | split: "/" %}
{% assign my_code = my_array.last %}
{% for project in site.projects %}
{% assign currentItem = project.people | where: "", my_code %}
{% if currentItem contains my_code %}
{% if project.link %}
{% assign proj_url = project.link %}
{% else %}
{% capture proj_url %}{{ site.base }}{{ project.url }}{% endcapture %}
{% endif %}
<script>
count++;
</script>
<div class="col-sm-4 {{ project.area }}">
<div id="{{ site.base }}{{ project.url }}" class="card card-project {{ project.area }}" style="	cursor: pointer;">
<a href="{{ proj_url }}">
<img id="project-image" src="{{ site.url }}{{ site.baseurl }}/images/projects/{{ project.image.name }}" alt="{{project.image.alt-text}}" width="100%" class="img-responsive" style="display:block; margin:auto;" /></a>
<div class="card-body {{ project.area }}">
<p class="title" style="padding-top: 8px; overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;"><a href="{{ proj_url }}" style="color:inherit; text-decoration: none;">{{ project.title }}</a></p>
<p class="description" style="overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;"><a href="{{ proj_url }}" style="color:inherit; text-decoration: none;">{{ project.description }}</a></p>
</div>
</div>
</div>
{% endif %}
{% endfor %}
<script>
if(count === 0){
    $('#projects-row').css({display: 'none'});
}
document.getElementById("pub-see-more").addEventListener("click", toggleDisplay);
function toggleDisplay() {
    const metadata = document.getElementsByClassName('hide-me');
      if(metadata.length){
        let display = true;
        if(document.getElementById("pub-see-more").innerText == 'see more...'){
            display = true;
            document.getElementById("pub-see-more").innerText = "see less..."
        }else{
            display = false;
            document.getElementById("pub-see-more").innerText = "see more..."
        }
          for (i = 0; i < metadata.length; i++) {
            if(display)
                metadata[i].style.display = 'block';
            else
                metadata[i].style.display = 'none';

          }
      }
}
</script>
</div>
</div>
