---
layout: default
---

<div class="row">
<div class="col-md-4">
<div class="row">
<img id="bio-photo" alt="Profile photo of {{page.title}}" src="{{ site.url }}{{ site.baseurl }}/images/people/{{ page.photo }}" class="img-responsive imgteam" />
</div>
<div class="row" style="overflow: hidden;">
{% for link in page.links %}
{% if link.name == 'email' %}
<a style="margin: auto; display: block; text-align: center;" href="mailto:{{link.url}}" target="_blank">{{link.url}}</a>
{% else %}
<!-- <a style="margin: auto; display: block; text-align: left;" href="{{link.url}}" target="_blank">{{link.name}}</a> -->
{%endif%}
{% endfor %}
</div>
</div>
<div class="col-md-8">
<h1>{{page.title}}</h1>
<h3>{{page.info}}</h3>
{{ content }}
</div>
</div>
<!-- <div id="publications-row" class="row" style="margin-top:32px; border-top: 1px solid rgb(164, 164, 164)">
<h3 class='timeline-Header-title publications' style="padding-left: 10px; padding-bottom: 20px;">Publications</h3>
<div class="publications">
<script>
let pubCount = 0;
</script>
{% assign my_array = page.id | split: "/" %}
{% assign my_code = my_array.last %}
{% for publication in site.publications %}
{% assign currentItem = publication.people | where: "", my_code %}
{% if currentItem contains my_code %}
<script>
pubCount++;
</script>
<div class="card {{ publication.area }} year-{{ publication.year }}" style="padding: 15px">
{% if publication.award %}
<img class="img-award" src="{{ site.url }}{{ site.baseurl }}/images/award.png" alt="{publication.award}" >
{% endif %}
<div class="row row-thumb" style="margin-bottom: 0; ">
<div class="col-md-3" style="padding-left: 0;">
{% if publication.image %}
<p style="margin:0;">
<img src="{{ site.url }}{{ site.baseurl }}/images/publications/{{ publication.image.name }}" alt="{{publication.image.alt-text}}" class="img-publication img-responsive imgpub" style="margin:auto; min-width: 200px; vertical-align: middle;" />
{% else %}
<img src="{{ site.url }}{{ site.baseurl }}/images/publications/publication.png" alt="generic image of a publication" class="img-publication img-responsive imgpub" style="margin:auto; min-width: 200px; vertical-align: middle;" />
{% endif %}
</p>
</div>
<div class="col-sm-12">
{% if publication.pdf %}
<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"><a href="{{ publication.pdf }}" target="_blank">{{ publication.title }}</a></p>
{% else %}
<p class="title" style="padding-top: 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ publication.title }}</p>
{% endif %}
<p class="detail">{{ publication.authors }}</p>
<p class="detail"><strong>{{ publication.conference-name }}</strong>&nbsp;<strong>{{ publication.year }}</strong>&nbsp;&#8209;&nbsp;{{ publication.venue }}</p>
{% if publication.award %}
<p class="detail text-award"><strong>{{ publication.award }}</strong></p>
{% endif %}

<p class="detail pub-links">
{% if publication.pdf %}
[<a href="{{ publication.pdf }}" target="_blank">PDF</a>]
{% endif %}
{% if publication.external-links %}
{% for link in publication.external-links %}
{% if link.name contains 'mail' %}
[<a href="mailto:{{link.url}}" target="_blank">{{link.name}}</a>]
{% else %}
[<a href="{{link.url}}" target="_blank">{{link.name}}</a>]
{%endif%}
{% endfor %}
{% endif %}
</p>
</div>
</div>
</div>
{% endif %}
{% endfor %}
<script>
if(pubCount === 0){
    $('#publications-row').css({display: 'none'});
}
</script>
</div>
</div> -->

<div id="projects-row" class="row">
<h3 class='timeline-Header-title publications' style="padding-left: 10px; padding-bottom: 20px;">Projects</h3>
<div class="projects">
<script>
let count = 0;
</script>
{% assign my_array = page.id | split: "/" %}
{% assign my_code = my_array.last %}
{% for project in site.projects %}
{% assign currentItem = project.people | where: "", my_code %}
{% if currentItem contains my_code %}
{% if project.link %}
{% assign proj_url = project.link %}
{% else %}
{% capture proj_url %}{{ site.base }}{{ project.url }}{% endcapture %}
{% endif %}
<script>
count++;
</script>
<div class="col-sm-4 {{ project.area }}">
<div id="{{ site.base }}{{ project.url }}" class="card card-project {{ project.area }}" style="	cursor: pointer;">
<a href="{{ proj_url }}">
<img id="project-image" src="{{ site.url }}{{ site.baseurl }}/images/projects/{{ project.image.name }}" alt="{{project.image.alt-text}}" width="100%" class="img-responsive" style="display:block; margin:auto;" /></a>
<div class="card-body {{ project.area }}">
<p class="title" style="padding-top: 8px; overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;"><a href="{{ proj_url }}" style="color:inherit; text-decoration: none;">{{ project.title }}</a></p>
<p class="description" style="overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;"><a href="{{ proj_url }}" style="color:inherit; text-decoration: none;">{{ project.description }}</a></p>
</div>
</div>
</div>
{% endif %}
{% endfor %}
<script>
if(count === 0){
    $('#projects-row').css({display: 'none'});
}
</script>
</div>
</div>