---
layout: default
---

{% if page.notitle != true %}
<div class="row">
<h1>{{ page.title }}</h1>
</div>
{% if page.people %}
<div class="row">
{% include project-people.html people=page.people %}
</div>
{% endif %}
{% endif %}
<div class="row">
  <p>
  {{page.description}}
  </p>
</div>
<div class="row">
  {% include project-image-carousel.html code=page.code %}
</div>
<div class="row">
{{ content }}
</div>
<div class="row">
<script>
count = 0;
</script>
<h2 id="pubs"> Publications </h2>
<ul>
{% for publication in site.publications reversed %}
{% if publication.projects %}
{% assign currentItem = publication.projects | where: "", page.code %}
{% if currentItem contains page.code %}
<script>
count++;
</script>
<li>
<p>
<strong><a href="{{publication.pdf}}" target="_blank">{{publication.title}}</a></strong><br/>
{{publication.authors}}<br/>
{{publication.venue}}
</p>
</li>
{% endif %}
{% endif %}
{% endfor %}
</ul>
</div>
<script>
if(count === 0){
  $('#pubs').css({display: 'none'});
}
</script>
