<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BIA-91067-405</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon-16x16.png">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery/jquery-migrate.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/superfish/hoverIntent.js"></script>
    <script src="../lib/superfish/superfish.min.js"></script>
    <script src="../lib/magnific-popup/magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="../js/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../js/main.js"></script>


    <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <script>
        $(document).ready(function() {
            $("#videoModal").on('hidden.bs.modal', function(e) {
                $("#videoModal iframe").attr("src", "");
            });
        });
    </script>
    <!--==========================
    Youtube modal
  ============================-->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <iframe id="youtubeVideo" width="100%" height="500" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">BIA-91067-405</a></h1>

                <!-- Uncomment below if you prefer to use an image logo -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#advanced-features">FAQ</a></li>
                    <li><a href="#call-to-action">Downloads</a></li>
                    <li><a href="#gallery">Video Tutorials</a></li>
                    
                    <li><a href="#contact">Ask a question</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">

        <div class="intro-text">
            <h2> </h2>

            <p>This is a support page for the Actimetry procedures of BIA-91067-405 study. <br>Here you can find a FAQ, video tutorials and ask a question if you have more doubts or suggestions.</p>
            <a href="#advanced-features" class="btn-get-started scrollto">FAQ</a>
            <a href="#gallery" class="btn-get-started scrollto">Video Tutorials</a>
        </div>

        <div class="product-screens">

            <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
                <img height="310px" width="600px" src="../img/logo.jpg" alt="">
            </div>

        </div>

    </section>
    <!-- #intro -->

    <main id="main">

    
        <section id="advanced-features">

          


            <div class="features-row section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="center">1. Connecting to a computer</h2>
                            <h3>The computer provided to support this trial has, on the Desktop, a shortcut to an application called OMGUI. If you want to set up a trial or download data from a sensor, you will do it through this application</h3>

                            <img width="45%" src="../img/faq/connectToPc.png" alt="">
                            <img width="50%" src="../img/faq/devicePanel.png" alt="">

                            <div class="wow">

                                <div id="faq">
                                    <ul id="faq-list" class="wow fadeInUp">
                                        <li>
                                            <a data-toggle="collapse" class="collapsed" href="#faq1">How to open OMGUI? <i class="ion-android-remove"></i></a>
                                            <div id="faq1" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    Double-click the OMGUI shortcut on the Desktop.
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq2" class="collapsed">How to connect the AX3 device to a computer? <i class="ion-android-remove"></i></a>
                                            <div id="faq2" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    Connect the AX3 device to an usb port with the cable provided.
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq3" class="collapsed">Is AX3 really connected?<i class="ion-android-remove"></i></a>
                                            <div id="faq3" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    If a new device appears on the Device Browser Panel, than the AX3 is connected and ready to be used.
                                                </p>
                                            </div>
                                        </li>



                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="features-row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="center">2. Learning to work with OMGUI</h2>
                            <h3>OMGUI (Open Movement Graphical User Interface) is the native application to operate with the AX3 activity sensor.</h3>

                            <img class="imgCenter" src="../img/faq/learnOMGUI.png" alt="">
                            <div class="wow">

                                <div id="faq">
                                    <ul id="faq-list" class="wow fadeInUp">
                                        <li>
                                            <a data-toggle="collapse" class="collapsed" href="#faq4">What can I do with OMGUI? <i class="ion-android-remove"></i></a>
                                            <div id="faq4" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    You will be able to check the status of the devices (battery, data, and recording status), set up data collection, and download the data files from the sensor
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq5" class="collapsed">What is Top Menu (A) for? <i class="ion-android-remove"></i></a>
                                            <div id="faq5" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    It will only available when a device is selected. Options will be Download data from device, Clear the data from the device, Schedule a recording, Stop a recording, Cancel an on progress Download and Identify which AX3 device you are interacting with
                                                    (It will flash blue and purple alternatively ).
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq6" class="collapsed">What is Device Browser panel (B)?<i class="ion-android-remove"></i></a>
                                            <div id="faq6" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    you will be able to see a list of the AX3 devices connected to the computer and their statuses. You can select a device by clicking on its row.
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq7" class="collapsed">What is the plot area (C)? <i class="ion-android-remove"></i></a>
                                            <div id="faq7" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    If the device has data, you will see it plotted here.
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq8" class="collapsed">What is Data Workspace(D) ? <i class="ion-android-remove"></i></a>
                                            <div id="faq8" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    You will be able to set up where you want your files to be saved, and to see the list of downloaded files.
                                                </p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="features-row section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="center">3. Setting up Data Collection</h2>
                            <h3>Before you hand a device to a subject, you will need to set up data collection. In parallel, while the device is connected, it will be charging. </h3>

                            <img class="imgCenter" src="../img/faq/recording.png" alt="">
                            <div class="wow">

                                <div id="faq">
                                    <ul id="faq-list" class="wow fadeInUp">
                                        <li>
                                            <a data-toggle="collapse" class="collapsed" href="#faq9">How can I put AX3 in recording Mode? <i class="ion-android-remove"></i></a>
                                            <div id="faq9" class="collapse" data-parent="#faq-list">
                                                <p>● Open OMGUI and connect the AX3 sensor to the computer with the USB cable.</p>
                                                <p>● Select the device in the Device Browser Panel. </p>
                                                <p>● If the battery is low, keep it connected until it charges completely (a value above 85% is considered acceptable to issue for usage).</p>
                                                <p>● If the device shows to have data, press “Clear” in the Top Menu. </p>
                                                <p>● Press the Record button, in the Top Menu. </p>

                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq10" class="collapsed">What Recording Session ID should I put (1) ? <i class="ion-android-remove"></i></a>
                                            <div id="faq10" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    It will be the Visit Number followed by the Patient Number (of the visit, when the device is handed to the subject).</p>
                                                <p>Visit Codes: V2B, V3, and V4.</p>
                                                <p><b>Example: Subject no. P452, visit V2B, Recording Session ID V2B_P452</b></p>

                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq11" class="collapsed">What about the sampling (2)(3) ? <i class="ion-android-remove"></i></a>
                                            <div id="faq11" class="collapse" data-parent="#faq-list">
                                                <p>Sampling Frequency: <b>100</b>. </p>
                                                <p>Sampling Range: <b>8</b>.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq12" class="collapsed">How should the recording setting be (4)(5)(6)(7)(8) ?  <i class="ion-android-remove"></i></a>
                                            <div id="faq12" class="collapse" data-parent="#faq-list">
                                                <p>Recording Time Schedule: <b>Interval</b>. </p>
                                                <p>Start Date: it should be set to <b>three days</b> before the next onsite visit. As an example, if the visit is on the 14th (any time), the start date will be on the 11th.</p>
                                                <p>Start Time: should be set to 00:00.</p>
                                                <p>Delay: do not change this value.</p>
                                                <p>Duration: the value should be of <b>5 days</b>.</p>
                                                <p>End Date: do not change this value.</p>

                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq13" class="collapsed">How should I proceed with other options (9)(10)(11)(12) ? <i class="ion-android-remove"></i></a>
                                            <div id="faq13" class="collapse" data-parent="#faq-list">
                                                <p>Study Centre: <b>Put the initials</b>. </p>
                                                <p>Investigator: <b>Put the initials</b>. </p>
                                                <p>Subject: input the <b>Patient number</b>.</p>
                                                <p>Flash when Recording: Do not tick it.</p>
                                                <p>Unpacked data: Do not tick it.</p>
                                                <p>Warnings: Its an alert to tell you aditional information, like if the battery status will cover all the days selected. In general it should not invalidate the record process, but if you have doubts please
                                                    contact us.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq14" class="collapsed">Do I need to do anything else ? <i class="ion-android-remove"></i></a>
                                            <div id="faq14" class="collapse" data-parent="#faq-list">
                                                <p> Please disconnect the device from the computer. The record in now set and will start at the date and time scheduled.</p>
                                                <p> Please do not forget to document the serial number of the sensor in the medical records of the subject and in e-CRF.
                                                </p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="features-row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="center">4. Wearing the activity bracelet</h2>
                            <h3>We kindly ask you to wear a bracelet with an activity sensor for a period of three days prior to some of your on-site visits. This bracelet is designed to be the least intrusive and you should be able to perform your daily
                                activities without any negative impact in your life throughout these days. Below is a simple set of instructions.</h3>

                            <img class="imgCenter" src="../img/faq/patients.png" alt="">
                            <div class="wow">

                                <div id="faq">
                                    <ul id="faq-list" class="wow fadeInUp">
                                        <li>
                                            <a data-toggle="collapse" class="collapsed" href="#faq15">When to wear the bracelet? <i class="ion-android-remove"></i></a>
                                            <div id="faq15" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    We kindly ask you to wear the bracelet the complete three days before the on-site visits V2B, V3, and V4. For example, if you have an appointment on the 14th, you should wear the bracelet on the 11th, 12th, and 13th, and leave it on until the appointment.
                                                    We will call to remind you to put the bracelet approximately one day before you have to. </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq16" class="collapsed">When should you take the bracelet off? <i class="ion-android-remove"></i></a>
                                            <div id="faq16" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    During the three days, you should wear the bracelet continuously, including during the night and bath time (it is waterproof). However, if you feel uncomfortable doing any particular activity with the bracelet (for example, while taking a bath), you may
                                                    remove it temporarily. You should put it on again right away when possible. </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq17" class="collapsed">How to wear the bracelet?<i class="ion-android-remove"></i></a>
                                            <div id="faq17" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    It should be worn on the wrist of your non-dominant hand, as if it was a regular watch.
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq18" class="collapsed">What if the sensor gets out of the bracelet? <i class="ion-android-remove"></i></a>
                                            <div id="faq18" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    You should not remove the sensor from the bracelet. However, if that happens, you just have to put it back, as in the Figure. The sensor should be inserted in the bracelet with the letters (“Axivity”) and a small arrow visible to you. Then, the arrow
                                                    on the bracelet should align with the arrow on the sensor. Insert it manually without any auxiliary tool.
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq19" class="collapsed">What if the bracelet starts flashing a brief red light?  <i class="ion-android-remove"></i></a>
                                            <div id="faq19" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    It is not expected that the device runs out of battery. However, if the bracelet starts flashing a red light, it means that it somehow happened. In that case, we ask you to report to the site for a replacement.
                                                </p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="features-row section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="center">5. Collecting and storing the data</h2>
                            <h3>When the trial subjects bring the bracelet to the visits V2B, V3, and V4, you will need to download the data to the PC.</h3>

                            <img class="imgCenter" src="../img/faq/download.jpg" alt="">
                            <div class="wow">

                                <div id="faq">
                                    <ul id="faq-list" class="wow fadeInUp">
                                        <li>
                                            <a data-toggle="collapse" class="collapsed" href="#faq20">How can I Store data? <i class="ion-android-remove"></i></a>
                                            <div id="faq20" class="collapse" data-parent="#faq-list">
                                                <p>● Open OMGUI and connect the sensor (after removing it from the bracelet) to an USB port on the computer</p>
                                                <p>● When the device is recognized, check the status of the recording. If it still shows as being recording, press “Stop”, in the Top Menu</p>
                                                <p>● Press download button.This will take a while: you will see the progress of the download in the respective field, in the Device Browser Panel; make sure it gets to 100%.
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq21" class="collapsed">What is Data Workspace Panel (1)(2) ? <i class="ion-android-remove"></i></a>
                                            <div id="faq21" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    It shows the current workspace (1) with all the files associated with it and also allows to select a new workspace (2).
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq22" class="collapsed">How can I select a new workspace?<i class="ion-android-remove"></i></a>
                                            <div id="faq22" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    Click on Choose Working Folder (2) and select a new one.</p>
                                                <p>If they are not created, create the following folders in your desktop: there should be a top folder named “data”. Inside that folder, there should be a sub-folder for each subject, i.e., the folder is named
                                                    with the Patient Number. Inside each subject’s folder, there should be a folder for each visit (V2B, V3, and V3B). Select the folder for the current Subject and Visit. </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq23" class="collapsed">How can I assure if data was saved? <i class="ion-android-remove"></i></a>
                                            <div id="faq23" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    Please go to the folder in the desktop and check if the file was correctly saved in the subject and visit subfolders.
                                                </p>
                                                <p>
                                                    Take a look at the Data Preview Panel. If the graph shows no activity, try to understand if it wasn’t worn by the subject, and re-explain the procedure
                                                </p>
                                                <p>
                                                    To verify if the device was worn please select it on the Data Workspace Panel and press Wear Time. Leave the epoch field with 1 and then press ok. Finally open the new created file (It should be on the desktop under the same folder as the downloaded file
                                                    ).
                                                </p>
                                            </div>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" href="#faq24" class="collapsed">How should I leave the device ?  <i class="ion-android-remove"></i></a>
                                            <div id="faq24" class="collapse" data-parent="#faq-list">
                                                <p>
                                                    Please Clear is contents, by selecting the device and press clear on the Top Menu.
                                                </p>
                                                <p>
                                                    Finally, disconect the sensor from the USB port, if you are not using more.
                                                </p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

        </section>
        <!-- #advanced-features -->

        <!--==========================
      Call To Action Section
    ============================-->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Download</h3>
                        <p class="cta-text"> Here you can have the Investigators instructions.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="../downloads/0263-AX3_investigator-instructions_2.0.pdf" download>Investigators Instructions</a> -->
                    </div>

                    <div class="row">
                        <div class="col-lg-9 text-center text-lg-left">

                            <p class="cta-text"> Here you can have the Patients instructions.</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                        <div class="col-lg-3 cta-btn-container text-center">
                            <a class="cta-btn align-middle" href="../downloads/OASIS-patient-instructions.pdf" download>Patients Instructions</a>
                           </div>
                    </div>

                </div>

        </section>
        <!-- #call-to-action -->

        

        <!--==========================
      Gallery Section
    ============================-->
        <section id="gallery">
            <div class="container-fluid">
                <div class="section-header">
                    <h3 class="section-title">Video Tutorials</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">Here are some video tutorials to help you</p>
                </div>

                <div class="row no-gutters">
                  

                    <div class="col-lg-4 col-md-6">
                        <br>

                        <div class="gallery-item wow fadeInUp">
                            <p style="font-size:14px">5 Collecting and storing the data</p>
                            <a href="#" onclick="$('#videoModal').modal('show'); $('#youtubeVideo').attr('src', 'https://www.youtube.com/embed/h0yyJ8CKt_o?controls=1'); return false;">
                                <img src="https://i.ytimg.com/vi/h0yyJ8CKt_o/hqdefault.jpg" alt="">


                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <br>

                        <div class="gallery-item wow fadeInUp">
                            <p style="font-size:14px">3 Setting up Data Collection</p>
                            <a href="#" onclick="$('#videoModal').modal('show'); $('#youtubeVideo').attr('src', 'https://www.youtube.com/embed/GkV2Tw9thjo?controls=1'); return false;">
                                <img src="https://i.ytimg.com/vi/GkV2Tw9thjo/hqdefault.jpg" alt="">


                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <br>

                        <div class="gallery-item wow fadeInUp">
                            <p style="font-size:14px">2 Learning to work with OMGUI</p>
                            <a href="#" onclick="$('#videoModal').modal('show'); $('#youtubeVideo').attr('src', 'https://www.youtube.com/embed/9xP4mFj3V8g?controls=1'); return false;">
                                <img src="https://i.ytimg.com/vi/9xP4mFj3V8g/hqdefault.jpg" alt="">


                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <br>

                        <div class="gallery-item wow fadeInUp">
                            <p style="font-size:14px">1 Connecting to a computer</p>
                            <a href="#" onclick="$('#videoModal').modal('show'); $('#youtubeVideo').attr('src', 'https://www.youtube.com/embed/GhqnH-re6eU?controls=1'); return false;">
                                <img src="https://i.ytimg.com/vi/GhqnH-re6eU/hqdefault.jpg" alt="">


                            </a>
                        </div>
                    </div>

                  

                </div>

            </div>
        </section>
        <!-- #gallery -->

        <!--==========================
      Contact Section
    ============================-->
        <br>
        <section id="contact">
            <div class="container">
                <div class="row wow fadeInUp">

                    <div class="col-lg-4 col-md-4">
                        <div class="contact-about">
                            <h3>BIA-91067-405</h3>
                            <p>These are the main contacts to reach out. <br>If you have any doubt or suggestion please send us an email. </p>
                            <div class="social-links">
                                <a target="_blank" href="https://www.youtube.com/channel/UCumqTsTCgUitK17pGSvj8Ww" class="youtube"><i class="fa fa-youtube"></i></a>
                                <a target="_blank" href="https://www.bial.com/pt/" class="website"><i class="fa fa-globe"></i></a>
                                <a target="_blank" href="http://www.scope-international.com/" class="website2"><i class="fa fa-briefcase"></i></a>
                                <a target="_blank" href="https://linkedin.com/in/tjvguerreiro" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a target="_blank" href="https://techandpeople.github.io/" class="github"><i class="fa fa-github"></i></a>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="social-links">
                            <div>
                                <a target="_blank" href=" http://maps.google.com/?q=Departamento de Informática, Faculdade de Ciências, Universidade de Lisboa, Lisboa" class="gmaps"><i class="ion-ios-location-outline"></i></a>


                                <p>Departamento de Informática da <br> Faculdade de Ciências, <br> Universidade de Lisboa <br> 1600-063 Lisboa, Portugal </p>
                            </div>

                            <div>
                                <a target="_blank" href="mailto:actigraphy.info@gmail.com" class="gmail"><i class="ion-ios-email-outline"></i></a>
                                <p>actigraphy.info@gmail.com</p>

                            </div>


                        </div>
                    </div>
                 
                </div>

            </div>
        </section>
        <!-- #contact -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright <strong><a target="_blank" href="http://lasige.di.fc.ul.pt/">FCUL-LASIGE</a></strong>. All Rights Reserved.
                    </div>
                 
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">Home</a>
                        <a href="#advanced-features" class="scrollto">FAQ</a>
                        <a href="#call-to-action" class="scrollto">Downloads</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</body>

</html>
